<a href="https://colab.research.google.com/github/chenyu123123123/bakayaro/blob/main/range%E5%87%BD%E5%BC%8F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for n in range(5):
  print(n)

0
1
2
3
4

In [2]:
for n in range(10):
    print(n, end='@')

    #print(n, end='%%%%')

0@1@2@3@4@5@6@7@8@9@

In [3]:
mysum = 0

for n in range(5):
  mysum += n
  print(mysum)

0
1
3
6
10

In [4]:
mysum = 0

for n in range(5):
  mysum += n

print(mysum)

10

In [5]:
x = int(input("請輸入一個正整數:"))
mysum = 0

for n in range(x):
  mysum += n

print(mysum)

請輸入一個正整數:545
148240

In [7]:
#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
for i in range(1,6):
    for j in range(1,5):
        for k in range(1,7):
            if( i != k ) and (i != j) and (j != k):
                print(i,j,k)

1 2 3
1 2 4
1 2 5
1 2 6
1 3 2
1 3 4
1 3 5
1 3 6
1 4 2
1 4 3
1 4 5
1 4 6
2 1 3
2 1 4
2 1 5
2 1 6
2 3 1
2 3 4
2 3 5
2 3 6
2 4 1
2 4 3
2 4 5
2 4 6
3 1 2
3 1 4
3 1 5
3 1 6
3 2 1
3 2 4
3 2 5
3 2 6
3 4 1
3 4 2
3 4 5
3 4 6
4 1 2
4 1 3
4 1 5
4 1 6
4 2 1
4 2 3
4 2 5
4 2 6
4 3 1
4 3 2
4 3 5
4 3 6
5 1 2
5 1 3
5 1 4
5 1 6
5 2 1
5 2 3
5 2 4
5 2 6
5 3 1
5 3 2
5 3 4
5 3 6
5 4 1
5 4 2
5 4 3
5 4 6

In [8]:
for x in range(19):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18

In [9]:
for x in range(0,19,2):
  print(x)

0
2
4
6
8
10
12
14
16
18

In [10]:
for x in range(20,11,-1):
  print(x)

20
19
18
17
16
15
14
13
12

In [14]:
for x in range(0,19,-1):
  print(x)

In [12]:
output = ''

for x in range(0,19,3):
  output += str(x)
  print(output, end=" ")

0 03 036 0369 036912 03691215 0369121518

In [13]:
output = ''

for x in range(0,19,3):
  print(x, end=" ")

0 3 6 9 12 15 18

In [15]:
list1 = range(0,19,3)

for x in list1:
  print(x, end=" ")

0 3 6 9 12 15 18